.menu {
    background: darkgray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.home-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemones-body{
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-select{
    size: 6rem;
}

.details {
    margin: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}